/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}



.hero{
 background-image: url("./../images/apple-pie.jpg");
 background-position: center;
 background-size: cover;
 height:calc(50vh - 50px);
 color: white;
 text-align:center;
 
 justify-content: center;
 margin: auto;
 display: block;
 position: relative;
 font-size: 50px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 50px;
}



*, *:before, *:after {
  box-sizing: inherit;
}

img {
  display: flex;
  justify-content:center;
  width: 40%;
  margin: auto;
  display: block;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */